*{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    width:100%;
    height:100%;
}
.wrap{
    width:100%;
    height:340px;
    overflow:hidden;
}
ol{
    display:flex;
    width:100%;

}
ol li{
    width:30%;
    text-align:center;
    line-height:35px;
    border-radius:30px;
}
ul{
    width:100%;
    height:300px;
}
ul li{
     width:100%;   
     height:300px;
     text-align:center;
}